@import url('https://fonts.googleapis.com/css?family=Prompt:300,400,500,600');
body {
  font-family: 'Prompt', sans-serif;
  font-weight: 400;
  background-color: #eee;
}
.page-nave ul {
  margin: 0 0 0 0;
}
.page-nave li {
  display: block;
  display: inline-block;
}
.page-nave a {
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
  background-color: #F04C81;
  color: #fff;
  height: 44px;
  line-height: 44px;
  font-size: 14px;
  padding: 0 15px;
  border-radius: 5px;
  border-bottom: 5px solid #DC396E;
}
.visible-things {
  background-color: yellow;
}
.animation {
  moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  -webkit-transition: all .5s ease;
  transition: all 0.5s ease;
}
h1,
h2,
h3 {
  font-family: 'Prompt', sans-serif;
  font-weight: 400;
}
h2 {
  font-size: 26px;
}
.social-float {
  position: fixed;
  z-index: 99999;
  right: 0;
  margin-top: 100px;
}
.social-float .fb,
.social-float .tw,
.social-float .ig,
.social-float .ln {
  height: 48px;
  width: 48px;
  display: block;
}
.social-float .fb:hover,
.social-float .tw:hover,
.social-float .ig:hover,
.social-float .ln:hover {
  opacity: 0.9;
}
.social-float .fb {
  background-image: url("../img/hero/fb.png");
  background-size: auto 19px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #3B5998;
}
.social-float .tw {
  background-image: url("../img/hero/tw.png");
  background-size: auto 19px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #55ACEE;
}
.social-float .ig {
  background-image: url("../img/hero/ig.png");
  background-size: auto 19px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #565656;
}
.social-float .ln {
  background-image: url("../img/hero/ln.png");
  background-size: auto 19px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #1DBF21;
}
.top-nav {
  /*height: 50px;*/
  background-color: #333333;
  color: #ffffff;
}
.top-nav ul {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  line-height: 50px;
}
.top-nav li {
  font-size: 12px;
  list-style: none;
  display: inline-block;
  margin-right: 9px;
}
.top-nav li a {
  color: #fff;
  text-decoration: none;
}
.top-nav li a:hover {
  content: #fff;
  text-decoration: underline;
}
.top-nav li:last-child {
  margin-right: 0px;
}
.top-nav .right-element .tel {
  font-size: 14px;
  line-height: 50px;
  background: url("../img/top-nav/phone.png") no-repeat;
  background-size: 14px auto;
  background-position: left center;
  padding-left: 20px;
  display: inline-block;
  margin-right: 2px;
}
.top-nav .right-element .tel span a {
  color: #fff !important;
}
.top-nav .language {
  display: inline-block;
}
.top-nav .language img {
  max-height: 25px;
  margin-left: 8px;
}
.top-nav a {
  text-decoration: none;
}
.top-nav a:hover {
  text-decoration: none;
}
nav {
  background-color: #fff;
}
nav textarea,
nav input,
nav button {
  outline: none;
}
nav .title-bar {
  background-color: #fff;
  height: 50px;
  border: 1px solid #E0E0E0;
  padding-top: 0;
  padding-bottom: 0;
}
nav button.menu-icon {
  line-height: 50px;
  height: 48px;
  width: 50px;
  border-left: 1px solid #E0E0E0;
}
nav button.menu-icon:after {
  margin-top: 15px;
  margin-left: 21px;
  display: block;
  width: 18px;
  height: 3px;
  background: #F04C81;
  box-shadow: 0 7px 0 #F04C81, 0 14px 0 #F04C81;
  content: "";
}
nav button.menu-icon:hover:after {
  background: #F04C81;
  box-shadow: 0 7px 0 #F04C81, 0 14px 0 #F04C81;
}
nav .logo-bar {
  line-height: 50px;
}
nav .logo-bar img {
  max-height: 25px;
  z-index: 100;
}
nav #main-menu {
  position: relative;
}
nav #main-menu li {
  display: block;
  border-bottom: 1px solid #E0E0E0;
}
nav #main-menu ul {
  width: 100%;
}
nav #main-menu li a {
  color: #000;
  padding: 0 0 0 20px;
  height: 50px;
  line-height: 50px;
  border-left: 5px solid #fff;
  font-size: 15px;
}
nav #main-menu li.active > a,
nav #main-menu li:hover > a {
  border-left: 5px solid #F04C81;
  color: #F04C81;
  background-color: #fff;
}
nav #main-menu ul.dropdown {
  display: none;
}
nav #main-menu li.menu-item-has-children > a:after {
  content: "";
  background: url("../img/nav/arrow.png") no-repeat;
  background-position: center center;
  background-size: 15px;
  padding-right: 15px;
  margin-left: 5px;
  position: relative;
}
nav #main-menu li.menu-item-has-children:hover > a:after {
  content: "";
  background: url("../img/nav/arrow-active.png") no-repeat;
  background-position: center center;
  background-size: 15px;
  width: 15px;
  height: 10px;
  margin-top: 20px;
  position: absolute;
}
nav #main-menu li.rotate-arrow.sub-menu > a:after {
  content: "";
  background: url("../img/nav/arrow-active.png") no-repeat;
  background-position: center center;
  background-size: 15px;
  width: 15px;
  height: 10px;
  margin-top: 20px;
  position: absolute;
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
nav #main-menu .sub-menu-item li.active a {
  border-left: 5px solid #fff;
  color: #F04C81;
  background-color: #fff;
}
nav #main-menu .sub-menu-item {
  background-color: #fff;
  display: none;
  left: 0;
  width: 100%;
}
nav #main-menu .sub-menu-item ul {
  margin: 0 0 0 0;
  padding: 0 0 0 20px;
}
nav #main-menu .sub-menu-item ul li {
  border-bottom: none;
}
nav #main-menu .sub-menu-item ul li:hover a {
  border: 5px solid #fff;
}
nav #main-menu img.search {
  max-height: 15px;
}
nav .search--container--top {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 999;
}
@media screen and (min-width: 64em) {
  nav #main-menu {
    border-bottom: 0px solid #E0E0E0;
    border-top: 0px solid #E0E0E0;
    -webkit-box-shadow: 0px 0px 1px 1px rgba(209, 209, 209, 0.57);
    -moz-box-shadow: 0px 0px 1px 1px rgba(209, 209, 209, 0.57);
    box-shadow: 0px 0px 1px 1px rgba(209, 209, 209, 0.57);
  }
  nav #main-menu .logo-main {
    z-index: 100;
    position: absolute;
    background-color: transparent;
    text-align: center;
  }
  nav #main-menu .logo-main img {
    max-width: 160px;
    margin-left: -4px;
    margin-top: -4px;
  }
  nav #main-menu ul.dropdown.menu {
    margin-left: 156px;
    width: auto;
  }
  nav #main-menu ul.dropdown.menu img.search {
    background-color: transparent;
  }
  nav #main-menu li {
    display: inline-block;
    margin-left: -6px;
    border-left: 1px solid #E0E0E0;
    border-bottom: none;
  }
  nav #main-menu li a {
    height: 100px;
    line-height: 100px;
    padding: 0 0 0 0;
    margin: 0 0 0 0 ;
    padding: 0 20px;
    color: #000000;
    border-bottom: 5px solid #fff;
    border-left: 0;
  }
  nav #main-menu li.active > a,
  nav #main-menu li:hover > a {
    border-left: 0;
    border-bottom: 5px solid #F04C81;
    color: #F04C81;
    background-color: #fff;
  }
  nav #main-menu li:first-child a {
    border-left: 1px solid #E0E0E0;
  }
  nav #main-menu li:last-child a {
    padding: 0 10px 0 18px;
  }
  nav #main-menu ul.dropdown {
    display: block !important;
  }
  nav #main-menu li.menu-item-has-children ul.sub-menu {
    display: none;
  }
  nav #main-menu li.menu-item-has-children > a:after {
    content: "";
    background: url("../img/nav/arrow.png") no-repeat;
    background-position: center center;
    background-size: 15px;
    padding-right: 15px;
    margin-left: 5px;
    position: relative;
  }
  nav #main-menu li.menu-item-has-children:hover a,
  nav #main-menu li.menu-item-has-children.active a {
    padding-right: 40px;
  }
  nav #main-menu .sub-menu-item {
    position: absolute;
    z-index: 99;
    max-width: 100%;
    border-top: 1px solid #ccc;
  }
  nav #main-menu .sub-menu-item .block-contain {
    max-width: 1200px;
    margin: auto;
    left: 0;
    right: 0;
    padding-bottom: 50px;
  }
  nav #main-menu .sub-menu-item h2 {
    margin-left: 150px;
    margin-top: 50px;
    width: 180px;
  }
  nav #main-menu .sub-menu-item ul {
    margin: 50px 0 0 20px;
    padding: 0 0 0 0;
    max-width: 600px;
    border: none;
  }
  nav #main-menu .sub-menu-item ul li {
    border: none;
    width: 200px;
  }
  nav #main-menu .sub-menu-item ul li:first-child a,
  nav #main-menu .sub-menu-item ul li:last-child a {
    border: none;
  }
  nav #main-menu .sub-menu-item ul li:hover a {
    border: none;
  }
  nav #main-menu .sub-menu-item ul a {
    display: inline-block;
    line-height: 50px;
    height: 50px;
    color: #000;
    border: none;
    text-align: left;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
  }
  nav #main-menu .sub-menu-item ul a:hover {
    text-decoration: underline;
    border: none;
  }
  nav #main-menu li.menu-item-has-children:hover > a:after {
    content: "";
    background: url("../img/nav/arrow-active.png") no-repeat;
    background-position: center center;
    background-size: 15px;
    width: 15px;
    height: 10px;
    margin-top: 45px;
    position: absolute;
  }
  nav #main-menu li.rotate-arrow.sub-menu > a:after {
    content: "";
    background: url("../img/nav/arrow-active.png") no-repeat;
    background-position: center center;
    background-size: 15px;
    width: 15px;
    height: 10px;
    margin-top: 45px;
    position: absolute;
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }
}
.footer.social {
  padding: 25px 0;
  background-color: #F04C81;
  color: #fff;
  text-align: center;
  font-weight: 300;
}
.footer.social h3 {
  font-size: 22px;
  text-align: center;
  font-weight: 500;
  margin-bottom: 20px;
}
@media screen and (min-width: 40em) {
  .footer.social {
    background: url("../img/footer/social.jpg");
    background-position: center;
  }
}
.footer.social img {
  max-width: 70px;
  margin: 0 8px;
  margin-bottom: 8px;
  border: 2px solid rgba(255, 255, 255, 0);
  border-radius: 50%;
}
.footer.social img:hover {
  border: 2px solid rgba(255, 255, 255, 0.5);
}
.footer.social h3 {
  margin-bottom: 20px;
}
.footer.quote {
  padding: 60px 0;
  background-color: #303030;
  color: #fff;
  text-align: center;
  font-weight: 300;
}
@media screen and (min-width: 40em) {
  .footer.quote {
    background: url("../img/footer/quote.jpg");
    background-position: center;
  }
}
.footer.about {
  background-color: #fff;
  padding: 40px 0;
}
.footer.about p {
  font-weight: 400;
  font-size: 16px;
  text-indent: 50px;
}
.footer.about .read-more a {
  text-align: center;
  border-top: 1px solid #DBDBDB;
  border-bottom: 1px solid #DBDBDB;
  padding: 10px 0;
  font-size: 16px;
  color: #F04C81;
  display: block;
}
.footer.about .read-more a:before {
  content: "";
  display: inline-block;
  background: url("../img/footer/read-more.png");
  background-position: center center;
  background-size: 18px;
  background-repeat: no-repeat;
  width: 20px;
  height: 10px;
  margin-right: 5px;
}
.footer.about .read-more.open a:before {
  content: "";
  display: inline-block;
  background: url("../img/footer/read-more.png");
  background-position: center center;
  background-size: 18px;
  background-repeat: no-repeat;
  width: 20px;
  height: 10px;
  margin-right: 5px;
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
.footer.about .fix-height {
  max-height: 500px;
  overflow: hidden;
}
.footer.course {
  padding: 40px 0;
  background-color: #fff;
}
.footer.course h3 {
  font-size: 22px;
  text-align: center;
  font-weight: 500;
  margin-bottom: 20px;
}
@media screen and (min-width: 40em) {
  .footer.course {
    background: url("../img/footer/bg.png");
    background-size: 25%;
    background-repeat: repeat;
    background-position: center;
    background-color: #fff;
  }
}
.footer.course h3 {
  color: #F04C81;
  margin-bottom: 30px;
}
.footer.course .icon {
  display: inline-block;
  width: 30%;
  text-align: right;
}
.footer.course .icon img {
  max-height: 90px;
}
.footer.course .desc {
  width: 70%;
  display: inline-block;
  padding-left: 10px;
}
@media screen and (max-width: 39.9375em) {
  .footer.course .icon {
    width: 20%;
  }
  .footer.course .desc {
    width: 80%;
  }
}
.footer.course .title {
  font-size: 14px;
  color: #F04C81;
  font-weight: 500;
  margin-bottom: 0;
}
.footer.course .item {
  margin-bottom: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 1px solid #D4D4D4;
}
.footer.course .item:last-child {
  border: none;
}
@media screen and (min-width: 40em) {
  .footer.course .item {
    border-bottom: none;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 00px;
  }
}
.footer.course p {
  line-height: 20px;
  font-weight: 300;
  font-size: 14px;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}
.footer.course a {
  margin-top: 5px;
  display: inline-block;
  color: #fff;
  background-color: #F778A2;
  padding: 2px 8px;
  border-radius: 20px;
  font-size: 14px;
}
.footer.course a:hover {
  background-color: #FF6697;
}
.footer.course-link {
  padding: 40px 0;
  background-color: #F04C81;
  color: #fff;
}
.footer.course-link h3 {
  font-size: 22px;
  text-align: center;
  font-weight: 500;
  margin-bottom: 20px;
}
.footer.course-link ul {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
.footer.course-link ul li {
  list-style: none;
  display: inline-block;
  margin-bottom: 10px;
}
.footer.course-link ul li a {
  font-size: 13px;
  display: inline-block;
  background-color: #FF6697;
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 3px;
}
.footer.course-link ul li a:hover {
  background-color: #fff;
  color: #F04C81;
  text-decoration: none;
}
footer h3 {
  font-size: 22px;
  text-align: center;
  font-weight: 500;
  margin-bottom: 20px;
}
footer .foot-nav {
  background-color: #212227;
  padding: 40px 0;
  color: #fff;
  font-size: 16px;
}
footer .foot-nav .title {
  font-weight: 600;
}
footer .foot-nav p {
  margin: 0 0 5px 0;
}
footer .foot-nav a {
  color: #fff;
  padding: 5px 0;
  display: block;
}
footer .foot-nav a:hover {
  text-decoration: underline;
}
footer .foot-nav .line {
  border-top: 1px solid #434449;
  width: 115px;
  margin: 5px 0;
}
footer .foot-nav ul {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}
footer .foot-nav li {
  list-style: none;
  font-size: 14px;
  line-height: 18px;
}
footer .foot-nav p.address {
  padding-left: 30px;
  background: url("../img/footer/address.png");
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: left 2px;
}
footer .foot-nav p.mail {
  padding-left: 30px;
  background: url("../img/footer/mail.png");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: left 5px;
}
footer .foot-nav .phone-group {
  position: relative;
  border: 2px solid #F04C81;
  width: 100%;
  display: table;
  height: 40px;
  border-radius: 50px;
}
footer .foot-nav .phone-group .phone {
  height: 100%;
  vertical-align: middle;
  line-height: 36px;
  display: table-cell;
  display: inline-block;
  width: 100%;
  background: url("../img/footer/phone.png");
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: 10px center;
  padding-left: 35px;
}
footer .foot-nav .phone-group a.call {
  border-radius: 50px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  display: table-cell;
  background-color: #F04C81;
  height: 100%;
  vertical-align: middle;
  width: 50%;
}
footer .foot-nav .social-btn img {
  max-height: 18px;
}
footer .foot-nav .social-btn a {
  border: 2px solid #fff;
  display: inline-block;
  height: 48px;
  width: 48px;
  text-align: center;
  line-height: 35px;
  margin-right: 10px;
  margin-bottom: 10px;
}
footer .foot-nav .social-btn a:hover {
  opacity: 0.7;
}
footer .copy {
  text-align: center;
  font-size: 12px;
  color: #fff;
  background-color: #191919;
  height: 40px;
  line-height: 40px;
}
.beforestart {
  margin-top: 500px;
}
.news-bar {
  background-color: #FFABCF;
  text-align: right;
  padding-top: 15px;
}
.news-bar p {
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  padding: 0 0 0 0;
}
.hero {
  position: relative;
}
.hero img {
  width: 100%;
}
.hero a.call {
  display: block;
  cursor: pointer;
  right: 5px;
  bottom: 2px;
  position: absolute;
  z-index: 10;
  width: 70px;
  height: 55px;
  background-color: #F04C81;
  background-image: url("../img/hero/call.png");
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.hero a.call:hover {
  background-color: #DC396E;
}
.hero .notification {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  position: absolute;
  bottom: 10px;
  right: 70px;
  z-index: 99;
  background-color: #F04C81;
  border: 7px solid #FA6E9B;
  background-image: url("../img/hero/noti.png");
  background-size: 20px auto;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: right;
  cursor: pointer;
}
.hero .notification span {
  background-color: #FFF8FA;
  color: #F04C81;
  font-size: 14px;
  position: absolute;
  left: 0;
  margin-left: 35px;
  top: -10px;
  padding: 0px 5px;
  border-radius: 4px;
  text-align: center;
}
.hero .notification .noti-box {
  cursor: default;
  text-align: left;
  border-radius: 5px;
  width: 250px;
  position: absolute;
  right: -7px;
  top: 60px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
}
.hero .notification .noti-box > .title {
  text-align: center;
  background-color: #F04C81;
  color: #fff;
  font-weight: 500;
  padding: 10px 0;
  margin-top: 10px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.hero .notification .noti-box > .title:before {
  position: absolute;
  top: 0;
  right: 20px;
  content: "";
  width: 20px;
  height: 10px;
  background-color: #F04C81;
  -webkit-clip-path: polygon(50% 0, 0% 100%, 100% 100%);
  clip-path: polygon(50% 0, 0% 100%, 100% 100%);
}
.hero .notification .noti-box ul {
  padding: 0 0 0 0 ;
  margin: 0 0 0 0;
  background-color: #fff;
  border: 1px solid #eee;
  height: 320px;
  overflow: scroll;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.hero .notification .noti-box li {
  display: block;
  padding: 10px 5px;
  border-bottom: 1px solid #eee;
}
.hero .notification .noti-box li:hover {
  background-color: #eee;
}
.hero .notification .noti-box img {
  float: left;
  max-width: 50px;
}
.hero .notification .noti-box .detail {
  padding-left: 60px;
  font-size: 13px;
  color: #000;
  line-height: 18px;
  font-weight: 400;
  color: #333333;
}
.hero .notification .noti-box .detail .title {
  font-size: 14px;
  color: #F04C81;
  font-weight: 500;
}
.brand,
.search {
  height: 80px;
}
.brand {
  color: #fff;
  overflow: hidden;
  background-color: #F04C81;
}
.brand .lead-img {
  text-align: right;
}
.brand .lead-img img {
  margin-top: 15px;
  max-height: 70px;
}
@media screen and (min-width: 40em) {
  .brand .lead-img img {
    margin-top: 12px;
    max-height: 70px;
  }
}
.brand p {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 0;
  line-height: 18px;
}
@media screen and (min-width: 40em) {
  .brand p {
    margin-top: 14px;
    font-size: 16px;
    line-height: 20px;
  }
}
.brand span {
  display: block;
  display: inline-block;
  font-size: 12px;
}
.search--form {
  background-color: #F5F5F5;
}
.search--form input {
  margin-top: 18px;
  height: 44px;
}
.search--form input {
  line-height: 44px;
  border: 1px solid #DBDBDB;
  border-radius: 3px;
  outline: none !important;
}
.search--form button,
.search--form .search-submit {
  cursor: pointer;
  font-family: 'Prompt';
  color: #fff;
  line-height: 44px;
  height: 44px;
  background-color: #F04C81;
  border-radius: 3px;
  font-weight: 500;
  padding: 0 30px;
  margin-top: 18px;
  border-bottom: 5px solid #DC396E;
  font-size: 16px;
}
.search--form button:hover,
.search--form button:active {
  margin-top: 23px;
  height: 39px;
  border: none;
}
.slide-home {
  height: auto;
  background-color: #fff;
}
@media screen and (min-width: 40em) {
  .slide-home {
    height: 300px;
  }
}
.slide-home .item {
  position: relative;
}
.slide-home button.slick-arrow {
  display: none !important;
}
.slide-home img {
  height: 140px;
  float: right;
  width: 20%;
}
@media screen and (min-width: 40em) {
  .slide-home img {
    height: 300px;
  }
}
@media screen and (min-width: 64em) {
  .slide-home img {
    width: auto;
  }
}
.slide-home .img {
  overflow: hidden;
  height: 140px;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@media screen and (min-width: 40em) {
  .slide-home .img {
    height: 300px;
  }
}
.slide-home .column {
  padding-right: 0;
  padding-left: 0;
}
.slide-home .quote {
  padding-bottom: 20px;
}
@media screen and (min-width: 40em) {
  .slide-home .quote {
    padding-bottom: 0px;
  }
}
.slide-home p.say {
  margin-top: 40px;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
}
@media screen and (min-width: 40em) {
  .slide-home p.say {
    font-size: 24px;
    line-height: 30px;
  }
}
@media screen and (min-width: 64em) {
  .slide-home p.say {
    font-size: 26px;
    line-height: 35px;
  }
}
.slide-home p.name {
  color: #F04C81;
  font-size: 16px;
}
.slide-home p.name:before {
  color: #000;
  margin-right: 10px;
  content: "—";
}
.slide-home img.logo {
  max-height: 50px;
  width: auto;
  position: absolute;
  bottom: 30px;
  right: 20px;
}
@media screen and (min-width: 40em) {
  .slide-home img.logo {
    bottom: 20px;
  }
}
@media screen and (min-width: 64em) {
  .slide-home img.logo {
    right: 18%;
  }
}
.slide-home ul.slick-dots {
  position: absolute;
  width: 100%;
  margin-left: 0;
  margin-top: -25px;
  z-index: 10;
  text-align: center;
}
.slide-home ul.slick-dots li {
  display: inline-block;
}
.slide-home ul.slick-dots button {
  display: block;
  width: 50px;
  height: 10px;
  background-color: #FFABCF;
  margin: 0 5px;
  cursor: pointer;
  text-indent: -9999px;
  overflow: none;
  outline: none !important;
}
.slide-home ul.slick-dots .slick-active button,
.slide-home ul.slick-dots button:hover {
  background-color: #F04C81;
}
.channel {
  background-color: #fff;
  padding: 50px 0 10px 0;
}
.channel h3 {
  font-size: 22px;
  text-align: center;
  font-weight: 500;
  margin-bottom: 20px;
}
.channel button.slick-arrow {
  display: none !important;
}
.channel .slick-cloned {
  margin-right: -0.2px;
}
.channel .for-button:before {
  content: "\00a0\00a0";
  width: 10px;
  height: 10px;
}
.channel .slide-group {
  position: relative;
}
.channel button.slick-prev,
.channel button.slick-next {
  width: 45px;
  height: 57px;
  text-indent: -9999px;
  overflow: hidden;
  cursor: pointer;
}
.channel button.slick-prev {
  z-index: 10;
  position: absolute;
  left: -50px;
  top: 196px;
  background-image: url("../img/channel/arrow.png");
  background-size: auto 57px;
  background-position: left center;
  background-repeat: no-repeat;
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
.channel button.slick-prev:hover {
  background-position: right center;
}
.channel button.slick-next {
  z-index: 10;
  position: absolute;
  right: -50px;
  top: 196px;
  background-image: url("../img/channel/arrow.png");
  background-size: auto 57px;
  background-position: left center;
  background-repeat: no-repeat;
}
.channel button.slick-next:hover {
  background-position: right center;
}
@media screen and (min-width: 60em) {
  .channel button.slick-prev {
    z-index: 10;
    position: absolute;
    left: -64px;
    top: 196px;
  }
  .channel button.slick-next {
    z-index: 10;
    position: absolute;
    right: -64px;
    top: 196px;
  }
}
.channel .item {
  display: table;
  cursor: pointer;
  height: auto;
  width: 100%;
  position: relative;
  overflow: hidden;
  moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  -webkit-transition: all .5s ease;
  transition: all 0.5s ease;
}
.channel .item .img {
  overflow: hidden;
  position: absolute;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background: no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.channel .item .hover {
  position: absolute;
  width: 100%;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(240, 76, 129, 0.75);
  pointer-events: none;
  moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  -webkit-transition: all .5s ease;
  transition: all 0.5s ease;
}
.channel .item .hover {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}
.channel .item .hover:after {
  content: "";
  width: 125px;
  height: 125px;
  display: block;
  margin: 0 auto;
  background-image: url("../img/channel/play.png");
  background-repeat: no-repeat;
  background-size: 120px 120px;
  background-position: center center;
  width: 100%;
  height: 100%;
}
.channel .item:hover .hover {
  opacity: 1;
  visibility: visible;
}
.channel .item.column {
  padding-right: 0;
  padding-left: 0;
}
.channel ul.slick-dots {
  margin-top: 10px;
  text-align: center;
}
.channel ul.slick-dots li {
  cursor: pointer;
  margin: 0 5px;
  list-style: none;
  display: inline-block;
  height: 20px;
  width: 20px;
  background-color: #FFABCF;
  border-radius: 50%;
  text-indent: -9999px;
  overflow: hidden;
}
.channel ul.slick-dots li:hover,
.channel ul.slick-dots li.slick-active {
  background-color: #F04C81;
}
.promote {
  padding: 20px 0 10px 0;
  background: #fff;
}
.promote h3 {
  font-size: 22px;
  text-align: center;
  font-weight: 500;
  margin-bottom: 20px;
}
.promote .slide-group {
  text-align: center;
  overflow: hidden;
}
@media screen and (min-width: 40em) {
  .promote .slide-group {
    overflow: inherit;
  }
}
.promote .slide-group img {
  margin: 0 10px;
  max-height: 130px;
}
.promote .for-button:before {
  content: "\00a0\00a0";
  width: 10px;
  height: 10px;
}
.promote button.slick-prev,
.promote button.slick-next {
  width: 45px;
  height: 57px;
  text-indent: -9999px;
  overflow: hidden;
  cursor: pointer;
}
.promote button.slick-prev {
  visibility: hidden;
  z-index: 10;
  position: absolute;
  left: -25px;
  top: 5%;
  background-image: url("../img/channel/arrow.png");
  background-size: auto 57px;
  background-position: left center;
  background-repeat: no-repeat;
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
.promote button.slick-prev:hover {
  background-position: right center;
}
.promote button.slick-next {
  visibility: hidden;
  z-index: 10;
  position: absolute;
  right: -25px;
  top: 5%;
  background-image: url("../img/channel/arrow.png");
  background-size: auto 57px;
  background-position: left center;
  background-repeat: no-repeat;
}
.promote button.slick-next:hover {
  background-position: right center;
}
@media screen and (min-width: 40em) {
  .promote button.slick-next,
  .promote button.slick-prev {
    visibility: visible;
  }
}
@media screen and (min-width: 60em) {
  .promote button.slick-prev {
    z-index: 10;
    position: absolute;
    left: -30px;
    top: 35px;
  }
  .promote button.slick-next {
    z-index: 10;
    position: absolute;
    right: -30px;
    top: 35px;
  }
}
.promote ul.slick-dots {
  visibility: visible;
  margin-top: 10px;
  text-align: center;
}
@media screen and (min-width: 40em) {
  .promote ul.slick-dots {
    visibility: hidden;
  }
}
.promote ul.slick-dots li {
  cursor: pointer;
  margin: 0 5px;
  list-style: none;
  display: inline-block;
  height: 20px;
  width: 20px;
  background-color: #FFABCF;
  border-radius: 50%;
  text-indent: -9999px;
  overflow: hidden;
}
.promote ul.slick-dots li:hover,
.promote ul.slick-dots li.slick-active {
  background-color: #F04C81;
}
.course-slide {
  height: auto;
  background-color: #fff;
  position: relative;
}
.course-slide a.call {
  display: block;
  cursor: pointer;
  right: 5px;
  top: 142px;
  position: absolute;
  z-index: 10;
  width: 70px;
  height: 55px;
  background-color: #F04C81;
  background-image: url("../img/hero/call.png");
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.course-slide a.call:hover {
  background-color: #DC396E;
}
.course-slide .item {
  margin-bottom: 170px;
  z-index: -1;
  height: 200px;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.course-slide .say {
  text-align: center;
  margin-top: 200px;
  background-color: #212227;
  color: #fff;
  height: 410px;
}
.course-slide .say .title {
  margin-top: 20px;
  font-weight: 300;
  font-size: 18px;
  margin-bottom: 10px;
}
.course-slide .say p {
  font-size: 14px;
  text-indent: 30px;
}
.course-slide button.slick-arrow {
  display: none !important;
}
.course-slide .column {
  padding-right: 0;
  padding-left: 0;
}
.course-slide ul.slick-dots {
  position: absolute;
  width: 100%;
  margin-left: auto;
  margin-top: -25px;
  z-index: 10;
  text-align: center;
}
.course-slide ul.slick-dots li {
  display: inline-block;
}
.course-slide ul.slick-dots button {
  display: block;
  width: 50px;
  height: 10px;
  background-color: #FFABCF;
  margin: 0 5px;
  cursor: pointer;
  text-indent: -9999px;
  overflow: none;
  outline: none !important;
}
.course-slide ul.slick-dots .slick-active button,
.course-slide ul.slick-dots button:hover {
  background-color: #F04C81;
}
@media screen and (min-width: 64em) {
  .course-slide .item {
    margin-bottom: 0px;
    z-index: -1;
    height: 410px;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .course-slide .say {
    text-align: left;
    margin-top: 0;
    background-color: rgba(33, 34, 39, 0.85);
    color: #fff;
    height: 410px;
  }
  .course-slide .say .title {
    margin-top: 50px;
    font-weight: 300;
    font-size: 32px;
    margin-bottom: 30px;
  }
  .course-slide .say p {
    text-indent: 30px;
    font-size: 16px;
  }
  .course-slide ul.slick-dots {
    position: absolute;
    width: auto;
    margin-left: 13.7%;
    margin-top: -25px;
    z-index: 10;
    text-align: center;
  }
}
.course-intro {
  padding-top: 45px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #fff;
  height: auto;
  background-image: url("../img/course/bg.jpg");
  background-position: bottom left;
  background-repeat: no-repeat;
}
@media screen and (min-width: 40em) {
  .course-intro {
    background-position: left;
  }
}
@media screen and (min-width: 64em) {
  .course-intro {
    background-position: right;
    height: auto;
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media screen and (max-width: 39.9375em) {
  .course-intro .desc {
    margin-bottom: 30px;
  }
}
.course-intro .desc p {
  text-indent: 50px;
  margin-top: 0px;
  margin-bottom: 10px;
}
@media screen and (min-width: 64em) {
  .course-intro .desc p {
    margin-top: 30px;
    margin-bottom: 40px;
  }
}
.course-intro .desc .price {
  background-image: url("../img/course/price.png");
  background-size: 17px auto;
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 30px;
  font-weight: 600;
}
.course-intro .desc .price span {
  font-weight: 500;
  font-size: 12px;
  color: #BABABA;
  margin-left: 10px;
  text-decoration: line-through;
}
.course-intro .desc .time {
  background-image: url("../img/course/time.png");
  background-size: 17px auto;
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 30px;
}
.course-intro .video {
  margin-right: 0;
  margin-left: auto;
  max-width: 500px;
  margin-bottom: 0px;
}
@media screen and (max-width: 39.9375em) {
  .course-intro .video {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
  }
}
.course-detail {
  background-color: #fff;
}
.course-detail .tabbar .tab-list {
  border-top: 1px solid #DBDBDB;
  border-bottom: 1px solid #DBDBDB;
}
.course-detail .tabbar .tab-list a.active,
.course-detail .tabbar .tab-list a:hover {
  border-bottom: 6px solid #F04C81;
}
.course-detail .tabbar .tab-list a {
  margin-right: 50px;
  padding: 20px 10px 15px 10px;
  color: #000;
  display: inline-block;
  font-size: 18px;
  border-bottom: 6px solid #fff;
}
@media screen and (max-width: 39.9375em) {
  .course-detail .tabbar .column.tab-list {
    padding: 0 0 0 0;
  }
  .course-detail .tabbar .tab-list a {
    text-align: center;
    margin-right: 0px;
    color: #000;
    width: 50%;
    display: inline-block;
    font-size: 18px;
    border-bottom: 6px solid #fff;
  }
}
.course-detail .content {
  position: relative;
  min-height: 400px;
  padding: 30px 0;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 64em) {
  .course-detail .content {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.course-detail .content ul {
  margin-left: 5px;
  margin-bottom: 20px;
}
.course-detail .content ul li {
  display: block;
  list-style-type: disc !important;
  color: #000;
  padding-left: 20px;
}
.course-detail .content ul li:before {
  content: "-";
  margin-right: 10px;
}
.course-detail .content.fix-height {
  min-height: auto;
  max-height: 400px;
  overflow: hidden;
}
@media screen and (min-width: 40em) {
  .course-detail .content.fix-height {
    min-height: 400px;
    max-height: inherit;
  }
}
@media screen and (max-width: 40em) {
  .course-detail .content.fix-height {
    min-height: auto;
    max-height: inherit;
  }
}
.course-detail .read-more {
  color: #000;
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: 100;
  background-color: #fff;
  text-align: center;
  border-top: 1px solid #DBDBDB;
  border-bottom: 1px solid #DBDBDB;
  padding: 10px 0;
  cursor: pointer;
}
.course-detail .read-more:after {
  margin-top: 9px;
  margin-left: 3px;
  position: absolute;
  content: "";
  background-image: url("../img/course/read-more.png");
  background-repeat: no-repeat;
  background-size: 10px;
  width: 10px;
  height: 5px;
}
.course-detail .read-more.open:after {
  margin-top: 9px;
  margin-left: 3px;
  position: absolute;
  content: "";
  background-image: url("../img/course/read-more.png");
  background-repeat: no-repeat;
  background-size: 10px;
  width: 10px;
  height: 5px;
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
.course-ads {
  background-color: #212227;
}
.course-ads .apply {
  overflow: hidden;
  padding: 30px 0;
  color: #fff;
}
.course-ads .apply p {
  font-size: 22px;
  line-height: 38px;
  margin-bottom: 5px;
}
.course-ads .apply strong {
  color: #E45081;
}
.course-ads .apply a {
  margin-top: 20px;
  display: inline-block;
  border: 2px solid #fff;
  border-radius: 3px;
  width: auto;
  color: #fff;
  font-size: 18px;
  padding: 10px 30px;
  background-color: transparent;
}
.course-ads .apply a:hover {
  background-color: #fff;
  color: #212227;
}
@media screen and (max-width: 39.9375em) {
  .course-ads .apply a {
    width: 100%;
    display: block;
    text-align: center;
  }
}
.course-ads .img {
  height: 300px;
  background: url("../img/course/ads-bg.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.schedule {
  padding: 30px 0 30px 0;
  background-color: #fff;
}
.schedule h3 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}
.schedule thead th {
  font-weight: 500;
  border-top: 1px solid #DBDBDB;
  border-bottom: 1px solid #DBDBDB;
  background-color: #fff;
}
.schedule th,
.schedule td {
  border-left: none;
  border-right: none;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  font-weight: normal;
}
.schedule table.hover tbody tr {
  background-color: #fff;
}
.schedule table.hover tbody tr:hover > td {
  background-color: #FFDCEC !important;
}
.schedule tbody td.hilight {
  background-color: #FFEDF5;
}
.schedule table.unstriped tbody {
  background-color: transparent;
}
@media screen and (max-width: 39.9375em) {
  .schedule {
    padding: 30px 0 0px 0;
  }
  .schedule h3 {
    text-align: center;
  }
  .schedule th,
  .schedule td {
    font-size: 14px;
  }
  .schedule tbody td {
    background-color: #FFEDF5;
  }
}
.schedule a.apply {
  font-family: 'Prompt';
  color: #fff;
  background-color: #F04C81;
  border-radius: 3px;
  font-weight: 500;
  border-bottom: 5px solid #DC396E;
  width: 100%;
  display: block;
  padding: 0 10px;
}
.schedule a.apply:hover,
.schedule a.apply:active {
  margin-top: 5px;
  border: none;
}
.portfolio.header {
  height: 130px;
  background-image: url("../img/portfolio/bg.jpg");
  color: #fff;
  text-align: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.portfolio.header h2 {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  line-height: 130px;
  font-weight: 500;
}
@media screen and (max-width: 39.9375em) {
  .portfolio.header {
    height: 50px;
  }
  .portfolio.header h2 {
    line-height: 50px;
  }
}
.portfolio.stat {
  padding: 36px 0;
  background-color: #fff;
}
.portfolio.stat p {
  margin-bottom: 0;
}
.portfolio.stat p.title {
  color: #F04C81;
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
  margin-bottom: 10px;
}
.portfolio.stat p.number {
  color: #F04C81;
  font-size: 28px;
  line-height: 28px;
  font-weight: 200;
  margin-bottom: 10px;
}
@media screen and (min-width: 64em) {
  .portfolio.stat p.title {
    font-size: 16px;
    line-height: 16px;
  }
  .portfolio.stat p.number {
    font-size: 52px;
    line-height: 52px;
  }
}
@media screen and (max-width: 39.9375em) {
  .portfolio.stat img {
    margin-bottom: 30px;
  }
}
.portfolio.desc {
  background-color: #333333;
  color: #fff;
}
.portfolio.desc p {
  margin: 0 0 0 0;
  font-size: 15px;
  margin-left: 15px;
  margin-right: 15px;
}
.portfolio.desc .text {
  padding: 20px 0;
}
.portfolio.desc .img {
  height: 150px;
  background-image: url("../img/portfolio/desc.jpg");
  background-repeat: no-repeat;
  background-position: right center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@media screen and (min-width: 40em) {
  .portfolio.desc .img {
    height: 300px;
  }
}
@media screen and (min-width: 64em) {
  .portfolio.desc {
    height: 350px;
  }
  .portfolio.desc p {
    margin-bottom: 10px;
    margin-left: 28%;
  }
  .portfolio.desc .img {
    height: 350px;
  }
  .portfolio.desc .text {
    padding: 50px 0;
  }
}
.portfolio.video {
  padding: 40px 0;
  background-color: #212227;
}
.portfolio.video h3 {
  font-size: 22px;
  text-align: center;
  font-weight: 500;
  margin-bottom: 20px;
  color: #fff;
}
.portfolio.video .item img {
  margin: 0 auto;
}
.portfolio.video .column {
  padding-right: 0;
  padding-left: 0;
  margin-right: .9375rem;
  margin-left: .9375rem;
  overflow: hidden;
}
.portfolio.video .item {
  display: table;
  cursor: pointer;
  height: auto;
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 100%;
  moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  -webkit-transition: all .5s ease;
  transition: all 0.5s ease;
}
.portfolio.video .item .hover {
  z-index: 0;
  position: absolute;
  width: 100%;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(240, 76, 129, 0.75);
  moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  -webkit-transition: all .5s ease;
  transition: all 0.5s ease;
  pointer-events: none;
}
.portfolio.video .item .hover {
  overflow: hidden;
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}
.portfolio.video .item .hover:after {
  content: "";
  width: 125px;
  height: 125px;
  display: block;
  margin: 0 auto;
  background-image: url("../img/channel/play.png");
  background-repeat: no-repeat;
  background-size: 120px 120px;
  background-position: center center;
  width: 100%;
  height: 100%;
}
.portfolio.video .item:hover .hover {
  opacity: 1;
  visibility: visible;
}
.portfolio.video button.slick-prev,
.portfolio.video button.slick-next {
  width: 24px;
  height: 67px;
  text-indent: -9999px;
  overflow: hidden;
  cursor: pointer;
}
.portfolio.video button.slick-prev {
  z-index: 10;
  position: absolute;
  left: -50px;
  top: 50px;
  background-image: url("../img/portfolio/arrow.png");
  background-size: auto 57px;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
  padding: 10px 20px;
  border-radius: 4px;
}
.portfolio.video button.slick-prev:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.portfolio.video button.slick-next {
  z-index: 10;
  position: absolute;
  right: -50px;
  top: 50px;
  background-image: url("../img/portfolio/arrow.png");
  background-size: auto 57px;
  background-position: center;
  background-repeat: no-repeat;
  padding: 10px 20px;
  border-radius: 4px;
}
.portfolio.video button.slick-next:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
@media screen and (min-width: 60em) {
  .portfolio.video button.slick-prev {
    z-index: 10;
    position: absolute;
    left: -64px;
    top: 40%;
  }
  .portfolio.video button.slick-next {
    z-index: 10;
    position: absolute;
    right: -64px;
    top: 40%;
  }
}
.portfolio.co-op {
  background-color: #F6F6F6;
  padding: 40px 0;
}
.portfolio.co-op h3 {
  font-size: 22px;
  text-align: center;
  font-weight: 500;
  margin-bottom: 20px;
  color: #000;
}
.portfolio.co-op .item {
  border-radius: 10px;
  background-color: #fff;
  text-align: center;
  margin-bottom: 20px;
}
.portfolio.co-op .item img {
  padding: 6px;
  border-radius: 5px;
}
.portfolio.speaker {
  text-align: center;
  background-color: #fff;
  padding: 40px 0;
}
.portfolio.speaker img {
  max-height: 110px;
}
.portfolio.speaker h3 {
  font-size: 22px;
  text-align: center;
  font-weight: 500;
  margin-bottom: 20px;
  color: #000;
}
.tutor-person .breadcrumb {
  margin-top: 1px;
  background-color: #fff;
  padding-top: 20px;
}
@media screen and (min-width: 64em) {
  .tutor-person .breadcrumb {
    padding-top: 100px;
  }
}
.tutor-person .breadcrumb ul {
  margin: 0 0 0 0 ;
  padding: 0 0 0 0;
}
.tutor-person .breadcrumb ul li {
  display: inline-block;
}
.tutor-person .breadcrumb ul li a {
  color: #000;
  font-size: 14px;
}
.tutor-person .breadcrumb ul li a:hover {
  text-decoration: underline;
}
.tutor-person .breadcrumb ul li:after {
  content: ">";
  margin-left: 10px;
  text-decoration: none !important;
  cursor: default;
}
.tutor-person .breadcrumb ul li:last-child:after {
  content: none;
}
.tutor-person .breadcrumb h3 {
  margin-top: 10px;
  font-size: 26px;
  font-weight: 400;
  margin-bottom: 10px;
  color: #000;
}
.tutor-person .photo {
  height: 500px;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@media screen and (max-width: 39.9375em) {
  .tutor-person .photo {
    height: 300px;
    background-position: top center;
  }
}
.tutor-person .detail {
  height: 500px;
  padding-left: 20px;
  padding-right: 20px;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@media screen and (max-width: 39.9375em) {
  .tutor-person .detail {
    height: 400px;
  }
}
.tutor-person .detail .title {
  font-size: 22px;
}
.tutor-person .detail .desc {
  font-size: 18px;
  line-height: 30px;
}
.tutor-person .detail-table {
  display: table;
  width: 100%;
  height: 100%;
}
.tutor-person .detail-table-cell {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: bottom;
  padding-bottom: 60px;
}
@media screen and (max-width: 39.9375em) {
  .tutor-person .detail-table-cell {
    padding-bottom: 0px;
  }
}
.tutor-person .detail-table-cell .title {
  text-align: left;
  margin-bottom: 10px;
}
@media screen and (max-width: 39.9375em) {
  .tutor-person .detail-table-cell .title {
    text-align: center;
  }
}
.tutor-person .course {
  height: 360px;
  background-color: #F04C81;
  color: #fff;
  padding-top: 50px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (max-width: 39.9375em) {
  .tutor-person .course {
    padding-top: 20px;
    height: auto;
  }
}
.tutor-person .course .name {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  margin-bottom: 10px;
}
.tutor-person .course p {
  margin-bottom: 10px;
}
.tutor-person .course ul {
  margin: 0 0 0 0;
}
.tutor-person .course ul li {
  display: inline-block;
}
.tutor-person .course ul a {
  color: #fff;
  display: block;
  background-color: #FF6697;
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 6px;
}
.tutor-person .course ul a:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.tutor-person .photo-2 {
  height: 360px;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.tutor-person .no-margin {
  padding-right: 0;
  padding-left: 0;
}
.tutor-person .main-deatil {
  background-color: #fff;
  padding: 50px 0px 50px 0px;
  font-size: 18px;
}
@media screen and (max-width: 39.9375em) {
  .tutor-person .main-deatil {
    padding: 20px 30px 50px 20px;
  }
}
.about.header {
  height: 200px;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 0px;
  color: #fff;
}
.about.header .row {
  height: 100%;
}
.about.header .table {
  width: 100%;
  height: 100%;
  text-align: center;
  display: table;
}
.about.header .table-cell {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  background-color: rgba(0, 0, 0, 0.3);
  padding-left: 10px;
}
@media screen and (max-width: 39.9375em) {
  .about.header {
    height: 120px;
  }
}
@media screen and (min-width: 64em) {
  .about.header {
    height: 400px;
    padding-top: 80px;
  }
  .about.header .table {
    width: 100%;
    height: 100%;
    text-align: left;
    display: table;
  }
  .about.header .table-cell {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: top;
    background-color: transparent;
  }
}
.about.detail {
  background-color: #fff;
  padding: 40px 0;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 40em) {
  .about.detail {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.about.detail p.title {
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  text-indent: 0px;
  margin-bottom: 10px;
}
.about.detail p {
  text-indent: 20px;
  font-size: 14px;
  font-weight: 300;
}
@media screen and (min-width: 64em) {
  .about.detail p.title {
    text-align: left;
    font-size: 22px;
  }
  .about.detail p {
    font-size: 18px;
    font-weight: 300;
  }
}
.about.detail .img {
  width: 100%;
  margin-bottom: 30px;
  text-align: center;
}
.about.detail .img img {
  max-width: 100px;
  max-height: 100px;
}
@media screen and (min-width: 64em) {
  .about.detail .img {
    width: 230px;
    text-align: center;
  }
  .about.detail .img img {
    max-width: 230px;
    max-height: 230px;
  }
}
.about.detail .line-container {
  width: 230px;
  height: 1px;
  margin: 0 auto;
}
.about.detail .line-container .line {
  width: 5px;
  background-color: #D5D5D5;
  height: 140px;
  margin: 0 auto;
}
.about.timeline {
  background-color: #383838;
  color: #fff;
  padding-bottom: 10px;
  padding-top: 50px;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 40em) {
  .about.timeline {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.about.timeline p.title {
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  text-indent: 0px;
  margin-bottom: 10px;
}
.about.timeline p {
  text-indent: 20px;
  font-size: 14px;
  font-weight: 300;
}
@media screen and (min-width: 64em) {
  .about.timeline p.title {
    text-align: left;
    font-size: 22px;
  }
  .about.timeline p {
    font-size: 18px;
    font-weight: 300;
  }
}
.about.timeline .item {
  padding: 0px 10px 20px 10px;
  padding-left: auto;
  margin-left: auto;
}
.about.timeline .item:last-child {
  border-left: 5px solid #383838;
}
@media screen and (min-width: 64em) {
  .about.timeline p.title {
    text-align: left;
  }
  .about.timeline .item {
    padding: 0 0 50px 0;
    border-left: 5px solid #D5D5D5;
    padding-left: 70px;
    margin-left: 128px;
  }
}
.about.timeline .dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid #383838;
  background-color: #D5D5D5;
  position: absolute;
  margin-left: -83px;
}
.about.timeline .logo-list img {
  max-width: 68px;
  max-height: 68px;
}
.about.timeline .logo-list p {
  text-indent: 0;
  font-size: 12px;
  margin-top: 10px;
}
.about.timeline .logo-list .img {
  text-align: center;
  margin-bottom: 40px;
  height: 110px;
  overflow: hidden;
}
@media screen and (min-width: 40em) {
  .about.timeline .logo-list img {
    max-width: 130px;
    max-height: 130px;
  }
  .about.timeline .logo-list .img {
    height: 220px;
  }
}
@media screen and (min-width: 64em) {
  .about.timeline .logo-list p {
    font-size: 14px;
  }
  .about.timeline .logo-list .img {
    height: 250px;
  }
}
.about.mission {
  padding: 50px 0;
  background-color: #fff;
  color: #000;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 40em) {
  .about.mission {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.about.mission h3 {
  font-size: 14px;
  text-align: center;
  font-weight: 500;
  margin-bottom: 20px;
  color: #000;
}
.about.mission p {
  text-indent: 40px;
  font-size: 14px;
  font-weight: 300;
}
@media screen and (min-width: 40em) {
  .about.mission h3 {
    font-size: 22px;
  }
  .about.mission p {
    font-size: 18px;
  }
}
.tutor-register.header {
  height: 130px;
  background-image: url("../img/portfolio/bg.jpg");
  color: #fff;
  text-align: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.tutor-register.header h2 {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  line-height: 130px;
  font-weight: 500;
}
@media screen and (max-width: 39.9375em) {
  .tutor-register.header {
    height: 50px;
  }
  .tutor-register.header h2 {
    line-height: 50px;
    font-size: 18px;
  }
}
.tutor-register.intro {
  background-color: #fff;
}
.tutor-register.intro .img {
  padding-right: 0;
  padding-left: 0;
}
.tutor-register.intro .img1,
.tutor-register.intro .img2 {
  height: 500px;
  width: 100%;
  margin-bottom: 20px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
}
@media screen and (max-width: 39.9375em) {
  .tutor-register.intro .img1,
  .tutor-register.intro .img2 {
    height: 200px;
  }
}
.tutor-register.intro .detail {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
}
.tutor-register.intro .detail p {
  margin-bottom: 10px;
}
.tutor-register.intro .detail p.title {
  text-indent: 0;
  font-size: 16px;
  text-align: center;
}
.tutor-register.intro .detail p,
.tutor-register.intro .detail li {
  font-size: 14px;
  text-indent: 30px;
  list-style: none;
}
.tutor-register.intro .detail .no-indent {
  text-indent: 0;
}
.tutor-register.intro .detail ul {
  margin: 0 0 0 0;
}
@media screen and (min-width: 40em) {
  .tutor-register.intro .detail {
    padding-left: 40px;
    padding-top: 40px;
    padding-bottom: 30px;
  }
  .tutor-register.intro .detail p.title {
    text-indent: 0;
    font-size: 22px;
    text-align: left;
  }
  .tutor-register.intro .detail p,
  .tutor-register.intro .detail li {
    font-size: 18px;
  }
}
.tutor-register.form {
  background-color: #F6F6F6;
  padding: 50px 0;
}
.tutor-register.form h3 {
  font-size: 14px;
  text-align: center;
  font-weight: 500;
  margin-bottom: 20px;
  color: #000;
}
.tutor-register.form p {
  text-indent: 40px;
  font-size: 12px;
  font-weight: 300;
}
@media screen and (min-width: 40em) {
  .tutor-register.form h3 {
    font-size: 22px;
  }
  .tutor-register.form p {
    font-size: 18px;
  }
}
.tutor-register.form .block {
  background-color: #fff;
  border-radius: 4px;
  margin-bottom: 20px;
}
.tutor-register.form .block > .title {
  padding: 20px;
  border-bottom: 1px solid #F6F6F6;
  font-size: 14px;
}
@media screen and (min-width: 40em) {
  .tutor-register.form .block > .title {
    font-size: 20px;
  }
}
.tutor-register.form .block .form {
  padding: 20px;
  font-size: 14px;
}
.tutor-register.form .block .form .title {
  padding-bottom: 10px;
  border-bottom: none;
  font-size: 14px;
}
@media screen and (min-width: 40em) {
  .tutor-register.form .block .form .title {
    font-size: 20px;
  }
}
.tutor-register.form .block .form label {
  font-size: 14px;
  margin-bottom: 5px;
}
@media screen and (min-width: 40em) {
  .tutor-register.form .block .form {
    font-size: 18px;
  }
  .tutor-register.form .block .form label {
    font-size: 18px;
  }
}
.tutor-register.form .block .form input.error,
.tutor-register.form .block .form textarea.error {
  border: 1px solid red;
}
.tutor-register.form .block .form .error-message {
  color: red;
  margin-top: -10px;
  font-size: 13px;
}
.tutor-register.form .block .form .error-message:before {
  content: "*";
}
.tutor-register.form .block .form input,
.tutor-register.form .block .form textarea {
  padding: 0 10px;
  outline: none;
  background-color: #fff;
  font-size: 18px;
  height: 60px;
  line-height: 60px;
  border-radius: 4px;
  border: 1px solid #959595;
}
.tutor-register.form .block .form textarea {
  min-height: 100px;
  font-size: 18px;
  line-height: 22px !important;
  padding: 10px 10px;
}
.tutor-register.form .block .form hr {
  border-bottom: 2px solid #F6F6F6;
}
.tutor-register.form .block .form input[type="file"] {
  border: none;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  padding: 0;
  margin-bottom: 20px;
}
.tutor-register.form .capcha {
  text-align: center;
  margin-bottom: 20px;
}
.tutor-register.form .capcha img {
  max-height: 70px;
}
.tutor-register.form .submit {
  text-align: center;
}
.tutor-register.form .submit button,
.tutor-register.form .submit input[type='submit'] {
  cursor: pointer;
  font-family: 'Prompt';
  font-size: 20px;
  color: #fff;
  background-color: #F04C81;
  border-radius: 3px;
  padding: 15px 50px;
  border-bottom: 5px solid #DC396E;
}
.tutor-register.form .submit button:hover,
.tutor-register.form .submit input[type='submit']:hover {
  margin-top: 5px;
  border-bottom: none;
}
@media screen and (max-width: 39.9375em) {
  .tutor-register.form .submit button,
  .tutor-register.form .submit input[type='submit'] {
    font-size: 14px;
  }
}
.contact.header {
  height: 130px;
  background-image: url("../img/contact/bg.jpg");
  color: #fff;
  text-align: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.contact.header h2 {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  line-height: 130px;
  font-weight: 500;
}
@media screen and (max-width: 39.9375em) {
  .contact.header {
    height: 50px;
  }
  .contact.header h2 {
    line-height: 50px;
    font-size: 18px;
  }
}
.contact.map {
  text-align: center;
  background-color: #FBFFFF;
}
.contact.map img {
  width: 100%;
  max-width: 700px;
}
.contact.detail {
  background-color: #fff;
  padding: 40px 0;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 64em) {
  .contact.detail {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.contact.detail p {
  font-size: 18px;
  margin: 0 0 0 0;
  margin-bottom: 10px;
}
@media screen and (max-width: 39.9375em) {
  .contact.detail p {
    font-size: 14px;
  }
}
.contact.detail .form {
  padding: 20px;
  font-size: 14px;
}
.contact.detail .form label {
  font-size: 14px;
  margin-bottom: 5px;
}
@media screen and (min-width: 40em) {
  .contact.detail .form {
    font-size: 18px;
  }
  .contact.detail .form label {
    font-size: 18px;
  }
}
.contact.detail .form input.error,
.contact.detail .form textarea.error {
  border: 1px solid red;
}
.contact.detail .form .error-message {
  color: red;
  margin-top: -10px;
  font-size: 13px;
}
.contact.detail .form .error-message:before {
  content: "*";
}
.contact.detail .form input,
.contact.detail .form textarea {
  padding: 0 10px;
  outline: none;
  background-color: #fff;
  font-size: 18px;
  height: 60px;
  line-height: 60px;
  border-radius: 4px;
  border: 1px solid #959595;
}
.contact.detail .form textarea {
  min-height: 100px;
  font-size: 18px;
  line-height: 22px !important;
  padding: 10px 10px;
}
.contact.detail .form hr {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid #F6F6F6;
}
.contact.detail .form input[type="file"] {
  border: none;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  padding: 0;
  margin-bottom: 20px;
}
.contact.detail .capcha {
  text-align: center;
  margin-bottom: 20px;
}
.contact.detail .capcha img {
  max-height: 70px;
}
.contact.detail .submit {
  margin-top: 0.7em;
  text-align: center;
}
.contact.detail .submit button,
.contact.detail .submit input[type='submit'] {
  cursor: pointer;
  font-family: 'Prompt';
  font-size: 20px;
  color: #fff;
  background-color: #F04C81;
  border-radius: 3px;
  padding: 15px 50px;
  line-height: 1;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 5px solid #DC396E;
}
.contact.detail .submit button:hover,
.contact.detail .submit input[type='submit']:hover {
  margin-top: 5px;
  border-bottom: none;
}
@media screen and (max-width: 39.9375em) {
  .contact.detail .submit button,
  .contact.detail .submit input[type='submit'] {
    font-size: 14px;
  }
}
.single-page .lead-image {
  height: 150px;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@media screen and (min-width: 40em) {
  .single-page .lead-image {
    height: 300px;
  }
}
@media screen and (min-width: 64em) {
  .single-page .lead-image {
    height: 400px;
  }
}
.single-page .content {
  padding: 20px 0;
  background-color: #fff;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 40em) {
  .single-page .content {
    padding: 50px 0;
    padding-left: 0px;
    padding-right: 0px;
  }
}
.single-page .content p {
  font-size: 14px;
  font-weight: 300;
}
@media screen and (min-width: 40em) {
  .single-page .content p {
    font-size: 16px;
  }
}
.single-page .breadcrumb {
  margin-top: 1px;
  background-color: #fff;
}
.single-page .breadcrumb ul {
  margin: 0 0 0 0 ;
  padding: 0 0 0 0;
}
.single-page .breadcrumb ul li {
  display: inline-block;
}
.single-page .breadcrumb ul li a {
  color: #000;
  font-size: 12px;
}
@media screen and (min-width: 40em) {
  .single-page .breadcrumb ul li a {
    font-size: 14px;
  }
}
.single-page .breadcrumb ul li a:hover {
  text-decoration: underline;
}
.single-page .breadcrumb ul li:after {
  content: ">";
  margin-left: 10px;
  text-decoration: none !important;
  cursor: default;
}
.single-page .breadcrumb ul li:last-child:after {
  content: none;
}
.single-page .page-title {
  padding-bottom: 30px;
}
.single-page .page-title h1 {
  margin: 0 0 0 0;
  font-size: 20px;
  margin-bottom: 5px;
}
@media screen and (min-width: 40em) {
  .single-page .page-title h1 {
    font-size: 32px;
    margin-bottom: 20px;
  }
}
.single-page .page-title span {
  font-size: 14px;
  color: #ACACAC;
}
.single-page .share-group {
  width: 210px;
  float: left;
  margin-top: 20px;
}
@media screen and (min-width: 64em) {
  .single-page .share-group {
    ffloat: right;
    margin-top: 0px;
  }
}
.single-page .share-number {
  float: left;
  display: inline-block;
  text-align: center;
  width: 100px;
  font-size: 12px;
  padding: 21px 0;
  border-left: 1px solid #DBDBDB;
  border-right: 1px solid #DBDBDB;
  margin-right: 10px;
}
@media screen and (min-width: 64em) {
  .single-page .share-number {
    padding: 29px 0;
    font-size: 16px;
  }
}
.single-page .share-btn {
  float: left;
  display: inline-block;
  width: 100px;
}
.single-page .share-btn a.fb,
.single-page .share-btn .tw {
  display: block;
  width: 100%;
  height: 34px;
  margin-bottom: 10px;
  border-radius: 3px;
  line-height: 34px;
  font-size: 14px;
  color: #fff;
  text-align: center;
  padding-left: 30px;
}
@media screen and (min-width: 64em) {
  .single-page .share-btn a.fb,
  .single-page .share-btn .tw {
    height: 48px;
    line-height: 48px;
  }
}
.single-page .share-btn a.fb:hover,
.single-page .share-btn .tw:hover {
  opacity: 0.9;
}
.single-page .share-btn a.fb,
.single-page .share-btn a.tw {
  background-position: 18px center;
  background-repeat: no-repeat;
}
.single-page .share-btn a.fb {
  background-size: auto 24px;
  background-color: #2A5E9C;
  background-image: url("../img/single/fb-w.png");
}
.single-page .share-btn a.tw {
  background-size: auto 15px;
  background-color: #00C2F5;
  background-image: url("../img/single/tw-w.png");
}
.single-page .sidebar .widget {
  margin-bottom: 20px;
}
.single-page .sidebar .follow {
  min-width: 260px;
  max-width: 360px;
  text-align: center;
  border: 1px solid #E5E5E5;
  padding: 20px 0;
}
.single-page .sidebar a.fb,
.single-page .sidebar .tw,
.single-page .sidebar .gp,
.single-page .sidebar .yt {
  display: inline-block;
  width: 52px;
  height: 52px;
  border: 1px solid #E5E5E5;
  background-color: #fff;
  margin: 0 2px;
  background-size: auto 22px;
  background-position: center center;
  background-repeat: no-repeat;
}
.single-page .sidebar a.fb:hover,
.single-page .sidebar .tw:hover,
.single-page .sidebar .gp:hover,
.single-page .sidebar .yt:hover {
  background-color: #E5E5E5;
}
.single-page .sidebar .fb {
  background-image: url("../img/single/fb.png");
}
.single-page .sidebar .tw {
  background-image: url("../img/single/tw.png");
}
.single-page .sidebar .gp {
  background-image: url("../img/single/gp.png");
}
.single-page .sidebar .yt {
  background-image: url("../img/single/yt.png");
}
/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8;
}
.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden;
}
.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  box-sizing: border-box;
}
.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.mfp-align-top .mfp-container:before {
  display: none;
}
.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045;
}
.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto;
}
.mfp-ajax-cur {
  cursor: progress;
}
.mfp-zoom-out-cur,
.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}
.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
}
.mfp-auto-cursor .mfp-content {
  cursor: auto;
}
.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.mfp-loading.mfp-figure {
  display: none;
}
.mfp-hide {
  display: none !important;
}
.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044;
}
.mfp-preloader a {
  color: #CCC;
}
.mfp-preloader a:hover {
  color: #FFF;
}
.mfp-s-ready .mfp-preloader {
  display: none;
}
.mfp-s-error .mfp-content {
  display: none;
}
button.mfp-close,
button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  box-shadow: none;
  touch-action: manipulation;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace;
}
.mfp-close:hover,
.mfp-close:focus {
  opacity: 1;
}
.mfp-close:active {
  top: 1px;
}
.mfp-close-btn-in .mfp-close {
  color: #333;
}
.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%;
}
.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap;
}
.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent;
}
.mfp-arrow:active {
  margin-top: -54px;
}
.mfp-arrow:hover,
.mfp-arrow:focus {
  opacity: 1;
}
.mfp-arrow:before,
.mfp-arrow:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 35px;
  margin-left: 35px;
  border: medium inset transparent;
}
.mfp-arrow:after {
  border-top-width: 13px;
  border-bottom-width: 13px;
  top: 8px;
}
.mfp-arrow:before {
  border-top-width: 21px;
  border-bottom-width: 21px;
  opacity: 0.7;
}
.mfp-arrow-left {
  left: 0;
}
.mfp-arrow-left:after {
  border-right: 17px solid #FFF;
  margin-left: 31px;
}
.mfp-arrow-left:before {
  margin-left: 25px;
  border-right: 27px solid #3F3F3F;
}
.mfp-arrow-right {
  right: 0;
}
.mfp-arrow-right:after {
  border-left: 17px solid #FFF;
  margin-left: 39px;
}
.mfp-arrow-right:before {
  border-left: 27px solid #3F3F3F;
}
.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px;
}
.mfp-iframe-holder .mfp-content {
  line-height: 0;
  width: 100%;
  max-width: 900px;
}
.mfp-iframe-holder .mfp-close {
  top: -40px;
}
.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%;
}
.mfp-iframe-scaler iframe {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #000;
}
/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto;
}
/* The shadow behind the image */
.mfp-figure {
  line-height: 0;
}
.mfp-figure:after {
  content: '';
  position: absolute;
  left: 0;
  top: 40px;
  bottom: 40px;
  display: block;
  right: 0;
  width: auto;
  height: auto;
  z-index: -1;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #444;
}
.mfp-figure small {
  color: #BDBDBD;
  display: block;
  font-size: 12px;
  line-height: 14px;
}
.mfp-figure figure {
  margin: 0;
}
.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto;
}
.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px;
}
.mfp-image-holder .mfp-content {
  max-width: 100%;
}
.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer;
}
@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
       * Remove all paddings around the image on small screen
       */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0;
  }
  .mfp-img-mobile img.mfp-img {
    padding: 0;
  }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0;
  }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px;
  }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    box-sizing: border-box;
  }
  .mfp-img-mobile .mfp-bottom-bar:empty {
    padding: 0;
  }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px;
  }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0;
  }
}
@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
  }
  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0;
  }
  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%;
  }
  .mfp-container {
    padding-left: 6px;
    padding-right: 6px;
  }
}
.footer-menu li a {
  font-size: 16px;
}
/* Form */
.youtube-popup {
  display: block;
}
.wpcf7-not-valid {
  border-color: red;
}
span.wpcf7-not-valid-tip {
  color: red;
  margin-top: -10px;
  font-size: 13px;
  margin-bottom: 0.5em;
}
div.wpcf7-validation-errors {
  display: none !important;
}
.capcha .wpcf7-form-control-wrap {
  display: inline-block;
}
.sub-menu--container {
  border: 1px solid #e0e0e0;
  padding-bottom: 1.5em;
}
.sub-menu--container label {
  display: block;
  font-size: 14px;
  padding: 0.6em 1.1em;
  background: #f04c81;
  color: #fff;
}
.sub-menu--child {
  margin: 0px 15px 10px !important;
  padding: 0;
}
.sub-menu--child li {
  padding: 0 !important;
  margin: 0 !important;
  list-style: none !important;
  border-bottom: 1px solid  #dcdcdc;
}
.sub-menu--child li:before {
  display: none;
}
.sub-menu--child a {
  display: block;
  font-size: 14px;
  color: #383838;
  padding: 8px 0;
}
.course-child--container {
  background: #fff;
  padding: 30px 0;
}
.course-child--container .breadcrumb {
  margin-top: 1px;
  background-color: #fff;
  margin-bottom: 2em;
}
.course-child--container .breadcrumb ul {
  margin: 0 0 0 0 ;
  padding: 0 0 0 0;
}
.course-child--container .breadcrumb ul li {
  display: inline-block;
}
.course-child--container .breadcrumb ul li a {
  color: #000;
  font-size: 12px;
  text-decoration: underline;
}
@media screen and (min-width: 40em) {
  .course-child--container .breadcrumb ul li a {
    font-size: 14px;
  }
}
.course-child--container .breadcrumb ul li a:hover {
  text-decoration: underline;
}
.course-child--container .breadcrumb ul li:after {
  content: ">";
  margin-left: 10px;
  text-decoration: none !important;
  cursor: default;
}
.course-child--container .breadcrumb ul li:last-child:after {
  content: none;
}
.go-to-top {
  display: inline-block;
  position: fixed;
  background: rgba(240, 63, 117, 0.8);
  padding: 0.5em;
  right: 1em;
  bottom: 1em;
}
.go-to-top:hover {
  background: #f03f75;
}
.go-to-top img {
  width: 30px;
}
.search--container {
  padding: 40px 0;
  background: #fff;
}
.search--container__result {
  box-shadow: 0px 1px 5px #dbdbdb;
  background: #fff;
}
.search--container__result article {
  position: relative;
  padding: 1em;
  margin-bottom: 0em;
  border-bottom: 1px solid #eaeaea;
  min-height: 115px;
}
.search--container__result article:last-child {
  border: none;
}
.search--container__result h2 {
  font-size: 14px;
  margin-bottom: 0.7em;
}
.search--container__result .entry-header,
.search--container__result .entry-summary {
  margin-left: 95px;
}
.search--container__result .entry-summary {
  margin-top: 0;
}
.search--container__result a {
  color: #000;
}
.search--container__result p {
  font-size: 14px;
  color: #5b5b5b;
}
.search--container__result figure {
  position: absolute;
  left: 1em;
  top: 1em;
  display: inline-block;
}
.search--container__result .search--thumb {
  width: 80px;
  height: 80px;
  background-position: center center;
  background-size: cover;
}
.search-no-results .search--container__result {
  box-shadow: none;
}
.hidden {
  display: none;
}
.search--container__top {
  position: relative;
  display: inline-block;
  width: 95%;
}
.search--container__top #s {
  height: 45px;
  padding-left: 60px;
  margin-top: 25px;
  font-size: 15px;
  border-color: #ededed;
  box-shadow: none;
  background-position: 1em center;
  background-repeat: no-repeat;
  -webkit-background-size: 20px;
  background-size: 20px;
  background-image: url('../img/nav/search.png');
}
.icon-close {
  position: absolute;
  right: -35px;
  top: 40px;
  display: inline-block;
  width: 15px;
  height: 15px;
  background-image: url('../img/nav/close.png');
  background-size: cover;
}
.wp-paginate {
  text-align: center;
  margin: 40px 0 0 !important;
}
.wp-paginate .current,
.wp-paginate a {
  padding: 4px 10px !important;
  border-radius: 50px;
  border: none !important;
  min-width: 30px;
  display: inline-block;
  height: 31px;
  line-height: 1.5;
}
.wp-paginate .current {
  background-color: #f36591 !important;
}
.single p a {
  color: #F04C81;
  font-weight: bold;
  text-decoration: underline;
}
.slick-dots {
  display: none !important;
}
@media screen and (max-width: 75em) {
  nav #main-menu li a {
    padding: 0 11px;
  }
}
@media screen and (max-width: 64em) {
  .search--container {
    padding-top: 55px;
  }
  .search--container--top {
    background: #fff;
    height: 68px;
  }
  .search--container--top #s {
    margin-top: 11px;
  }
  .icon-close {
    top: 26px;
  }
  .top-nav ul.float-left {
    padding-top: 0.5em;
    line-height: 35px !important;
  }
}
@media screen and (max-width: 40em) {
  .search--container__top {
    width: 90%;
  }
  .read-more.show-for-small-only {
    display: none !important;
  }
  .sub-menu--container label {
    font-weight: bold;
  }
  .sub-menu--child a {
    font-weight: bold;
  }
  .sub-menu--container {
    margin-bottom: 1em;
  }
  .channel {
    padding-top: 0px;
  }
  .channel .item .hover:after {
    background-size: 50px 50px;
  }
}
@media screen and (min-width: 64em) {
  .footer.course .item:nth-child(4) {
    clear: both;
  }
}
